:root {
	--brand-color: #adff2f;
	--black: #000000;
	--dark-gray: #282828;
	--deep-blue: #141922;
	--white: #ffffff;
	--sidebar-width: 230px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
	background-color: var(--deep-blue);
	color: white;
    font-family: "Open Sans", sans-serif;
}
button{
    background-color: transparent;
	border: none;
	color: currentColor;
}


/*reset rules*/

a {
    color: currentColor;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}
/*utilities*/
.m-t{
    margin-top: 10px;
}
i {
    margin-right: 7px;
}
hr{
    color: gray;
}

/*layout*/

.app_wrap{
    height: 100vh;
	display: flex;
	flex-direction: column;
}
.app_body{
    flex-grow: 1;
	display: flex;
}
.app_player{
  background-color: var(--dark-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}

.app_content{
    flex-grow: 1;
}
/*sidebar*/

.app_sidebar{
    width: var(--sidebar-width);
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

}
.first-menu{
    color: white;
    padding: 15px 0;
}
.list-item li{
    padding: 5px;
}
.footer_sidebar{
    margin-top: 149px;
}
/*PLAYER*/
.app_player .player{
    width: 45%;
}

.player_controls >*{
    font-size: 25px;
}
.track{
    display: flex;
    align-items: center;
    gap: 10px;
    width: var(--sidebar-width);
}
.track_info{
    flex-grow: 1;
}
.track_img{
    width: 42px;
    height: 42px;
    flex-shrink: 0;
}
.track_img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.player_controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.player_slide{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 14px;
}
.player_controls .icon_play{
    font-size: 30px;
}

.slider {
	height: 4px;
	width: 120px;
	flex-grow: 1;
	background-color: rgba(255, 255, 255, 0.5);
}
.icon-volume{
    display: flex;
    align-items: center;
}
