:root {
	--brand-color: #adff2f;
	--black: #000000;
	--dark-gray: #282828;
	--deep-blue: #141922;
	--white: #ffffff;
	--sidebar-width: 230px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
	background-color: var(--deep-blue);
	color: white;}

/*reset rules*/

a {
    color: currentColor;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}
/*utilities*/
.m-t{
    margin-top: 10px;
}
i {
    margin-right: 7px;
}
hr{
    color: gray;
}

/*layout*/

.app_wrap{
    height: 100vh;
	display: flex;
	flex-direction: column;
}
.app_body{
    flex-grow: 1;
	display: flex;
}
.app_player{
  background-color: var(--dark-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.app_content{
    flex-grow: 1;
}
/*sidebar*/

.app_sidebar{
    width: 240px;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

}
.first-menu{
    color: white;
    padding: 15px 0;
}
.list-item li{
    padding: 5px;
}
/*PLAYER*/
.app_player .player{
    width: 45%;
}



